/**
 * @name Dischaos
 * @author DigitalNXZ
 * @version 1.2.X
 * @description
 * @source https://github.com/DigitalNXZ/Discord-s-Chaos
 */

.theme-dark,:root {
--background-primary:#2a2a2a!important;
--background-secondary:#1a1a1a!important;
--background-secondary-alt:#2a2a2a!important;
--background-tertiary:#1f1f1f!important;
--background-accent:#1f1f1f!important;
--background-floating:#29292b!important;
--background-modifier-hover:rgba(255,255,255,0.01)!important;
--background-modifier-active:rgba(255,255,255,0.03)!important;
--background-modifier-selected:rgba(255,255,255,0.04)!important;
--background-modifier-accent:hsla(0,0%,100%,0.06)!important;
--channeltextarea-background:var(--background-accent)!important;
--deprecated-card-bg:rgba(0,0,0,0.2)!important;
--deprecated-card-editable-bg:rgba(0,0,0,0.1)!important;
--deprecated-text-input-bg:var(--background-tertiary)!important;
--deprecated-text-input-border:var(--background-floating)!important;
--deprecated-text-input-border-disabled:var(--background-tertiary)!important;
--activity-card-background:var(--background-primary)!important;
--channels-default:#9f9f9f!important;
--text-muted:#b6b6b6!important;
--text-normal:#fbfbfb!important;
--interactive-normal:#c8c8c8!important;
--interactive-hover:#dcddde!important;
--interactive-active:#fff!important;
--interactive-muted:#747474!important;
--header-primary:#fff!important;
--header-secondary:#c9c9c9!important;
--toast-background:var(--background-primary)!important;
--toast-header:var(--background-tertiary)!important;
--toast-contents:var(--background-secondary)!important;
--toast-box-shadow:rgba(0,0,0,0.2)!important;
--toast-border:var(--background-tertiary)!important;
--roundness:10px;
}


.anchor-3Z-8Bb,.anchorUnderlineOnHover-2ESHQB,.imageWrapper-2p5ogY,.imageZoom-1n-ADA,.clickable-3Ya1ho,.embedWrapper-lXpS3L,.embedMedia-1guQoW,.embedImage-2W1cML,img:not(.avatar-1BDn8e) {
border-radius:0!important;
}

.botTagRegular-2HEhHi {
transition:.5s;
background:rgba(30,0,27,0.1);
color:#fff;
}

.botTagRegular-2HEhHi:hover {
transition:.5s;
background:#444;
color:#fff;
}

.channelName-qsg_a_ > div > .input-2A_zIr {
box-shadow:none!important;
}

.channelTextArea-rNsIhG {
background-color:#0000;
}

.channelTextArea-rNsIhG,.popout_7205,.form-2fGMdU {
padding-top:3px;
margin-bottom:-2px;
}

.children-19S4PO,.toolbar-1t6TWx {
background-color:rgba(0,0,0,0.2);
border-radius:var(--Roundness);
padding:5px;
height:auto;
margin:3px!important;
}

.children-19S4PO::after {
display:none;
}

.connectedAccount-36nQx7 {
background-color:rbga(0,0,0,0);
border-width:0;
}

.connectedAccount-36nQx7 > .connectedAccountIcon-3P3V6F {
z-index:1;
}

.connectedAccount-36nQx7 > .connectedAccountIcon-3P3V6F + .connectedAccountNameInner-1phBvE::after {
--box-shadow:2px 2px 0 0;
content:"";
position:absolute;
border-radius:1px 3px 3px 1px;
margin-left:-35px;
height:46px;
width:44%;
}

.connectedAccount-36nQx7 > .connectedAccountNameInner-1phBvE + a.anchor-3Z-8Bb {
z-index:1;
}

.connectedAccount-36nQx7 > .connectedAccountNameInner-1phBvE > .connectedAccountName-f8AEe2 > .flowerStarContainer-3zDVtj > svg > path,.connectedAccount-36nQx7 > .connectedAccountNameInner-1phBvE > .connectedAccountName-f8AEe2 + span > .flowerStarContainer-3zDVtj > svg > path {
fill:#fff;
opacity:.4;
}

.connectedAccount-36nQx7 > .connectedAccountNameInner-1phBvE > .connectedAccountName-f8AEe2,.connectedAccount-36nQx7 > .connectedAccountNameInner-1phBvE > .connectedAccountName-f8AEe2 + span {
z-index:1;
}

.connectedAccountIcon-3P3V6F[alt*="Spotify"] + .connectedAccountNameInner-1phBvE::after {
background-color:#24292e;
box-shadow:var(--box-shadow) #d9dadb;
}

.container-3baos1 .flex-1O1GKY button {
width:18px;
height:20px;
margin:6px!important;
}

.container-3baos1 .flex-1O1GKY button:nth-child(2) {
-webkit-mask:url(https://raw.githubusercontent.com/DigitalNXZ/Discord-s-Chaos/1b73155393dd0e50bbf155b98d640c3a911146bd/src/svg/sound-on-solid.svg) no-repeat;
background:#f0f8ff;
}

.container-3baos1 .flex-1O1GKY button:nth-child(2)[aria-checked="true"] {
-webkit-mask:url(https://raw.githubusercontent.com/DigitalNXZ/Discord-s-Chaos/1b73155393dd0e50bbf155b98d640c3a911146bd/src/svg/sound-off-solid.svg) no-repeat;
background:orange;
}

.container-3baos1 .flex-1O1GKY button:nth-child(3) {
-webkit-mask:url(https://raw.githubusercontent.com/DigitalNXZ/Discord-s-Chaos/1b73155393dd0e50bbf155b98d640c3a911146bd/src/svg/options-horizontal-solid.svg) no-repeat;
background:#f0f8ff;
}

.content-yTz4x3 {
backdrop-filter:blur(10px);
background:#0000;
}

.cooldownWrapper-3joyFc {
margin-right:5px;
}

.disableScrollAnchor-3V9UtP {
padding-bottom:1000px;
}

.divider-3FBTu8 {
width:2px;
height:20px;
}

.form-2fGMdU {
padding:13px;
display:flex;
flex-direction:column-reverse;
background-color:rgba(0,0,0,0);
backdrop-filter:blur(10px);
width:100%!important;
max-width:95%!important;
background:#0000!important;
backdrop-filter:blur(50px);
left:50%;
transform:translate(-50%,0);
padding-right:50px;
padding-left:50px;
}

.form-2fGMdU:before {
display:none;
display:none;
}

.header-23xsNx {
user-select:none;
}

.homeIcon-FuNwkv {
-webkit-mask:url(https://raw.githubusercontent.com/DigitalNXZ/Discord-s-Chaos/1b73155393dd0e50bbf155b98d640c3a911146bd/src/svg/menu-rounded-solid.svg) no-repeat;
background:#f0f8ff!important;
padding-top:12px!important;
margin-top:6px!important;
}

.homeIcon-FuNwkv path,.container-3baos1 .flex-1O1GKY button:nth-child(2) path,.container-3baos1 .flex-1O1GKY button:nth-child(3) path {
fill:transparent!important;
}

.item-2hkk8m {
background:orange;
}

.jumpToPresentBar-G1R9s6,.barBase-1c2Rfb {
position:absolute;
top:0;
height:10px;
border-radius:0;
width:100%;
margin-left:-18px!important;
}

.listItem-2P_4kh .guildSeparator-3s64Iy {
width:80%;
}

.mentioned-xhSam7 {
padding-top:10px!important;
padding-bottom:10px!important;
border-left:3px solid rgba(180,180,180,0.4);
border-radius:0;
}

.mentioned-xhSam7::before {
display:none;
}

.message-2qnXI6.mentioned-xhSam7 {
background:rgba(0,0,0,0.3);
}

.messagesWrapper-1sRNjr {
margin-bottom:-1000px!important;
}

.messagesWrapper-1sRNjr ::-webkit-scrollbar-track {
margin-bottom:1008px!important;
}

.panels-j1Uci_ {
display:flex;
flex-direction:column;
}

.panels-j1Uci_ .container-3baos1 {
order:4;
}

.panels-j1Uci_ .panel-24C3ux {
order:2;
}

.panels-j1Uci_ .powercord-spotify {
order:1;
}

.panels-j1Uci_ .wrapper-24pKcD {
order:3;
}

.panels-j1Uci_:hover .powercord-spotify {
height:auto;
overflow:visible;
}

.panels-j1Uci_:hover .spotify-seek-bar {
position:relative!important;
height:3px!important;
margin-top:2px;
}

.powercord-spotify {
height:0;
overflow:hidden;
}

.powercord-spotify.hover .spotify-seek-elements {
height:4px!important;
}

.scrollableContainer-2NUZem {
border-radius:0;
}

.search-2oPWTC .icon-38sknP {
cursor:pointer;
}

.searchBar-3dMhjb {
width:28px;
transition:width .3s ease-in-out;
}

.spotify-seek-bar {
bottom:0;
height:.25vw!important;
overflow:hidden;
position:absolute!important;
width:250px!important;
}

.spotify-seek-bar-progress {
filter:blur(2px);
}

.spotify-seek-elements {
overflow:visible!important;
opacity:1!important;
padding-bottom:11px!important;
}

.status-1XNdyw:hover {
filter:brightness(1.5)!important;
}

.tabBody-3YRQ8W {
background-color:var(--background-primary);
}


.title-29uC1r {
color:var(--interactive-normal);
}

.title-29uC1r:hover {
color:var(--interactive-hover);
}

.toolbar-1t6TWx {
right:-10px!important;
}

.topic-TCb_qw {
color:var(--interactive-normal)!important;
}

.tutorialContainer-1v44GL .svg-1X37T1 .childWrapper-anI2G9 {
background:#0000!important;
margin-top:10px!important;
}

.tutorialContainer-1v44GL .wrapper-1BJsBx {
height:20px;
}

.tutorialContainer-1v44GL .wrapper-sa6paO {
margin-top:-9px;
}

.tutorialContainer-1v44GL foreignObject {
background:#0000;
}

.typing-2GQL18,.base-gE7OpD {
position:relative;
margin-right:35px;
}

.wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9,.wrapper-1BJsBx:hover .childWrapper-anI2G9 {
color:#fff;
background-color:transparent;
}

div .tutorialContainer-1v44GL {
position:sticky;
top:-12px;
padding-top:12px;
padding-bottom:6px;
border-bottom-left-radius:15px;
border-bottom-right-radius:15px;
z-index:100;
background-color:var(--background-tertiary);
padding-bottom:0!important;
padding-top:5px!important;
}

svg > .updateIconForeground-3tnNZn {
fill:var(--interactive-normal);
}

svg.icon-22AiRD {
color:var(--interactive-normal);
}

svg.icon-22AiRD:hover {
color:var(--interactive-hover);
}

svg.icon-3cZ1F_ > path {
fill:var(--interactive-normal);
}

svg:active > .updateIconForeground-3tnNZn {
fill:var(--interactive-active);
}

svg:hover > .updateIconForeground-3tnNZn {
fill:var(--interactive-hover);
}
